---
- name: zram role
  tags:
    - zram
  block:

  # install
  - name: Install zram-tools
    become: true
    ansible.builtin.apt:
      name: zram-tools
      state: "{{ zram_apt_state }}"
  
  # config
  - when: zram_config != None
    name: Copy {{ zram_config }} to /etc/default/zramswap
    become: true
    ansible.builtin.copy:
      src: "{{ zram_config }}"
      dest: /etc/default/zramswap
      owner: root
      group: root
      mode: u=rw,g=r,o=r